@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcme to Tony Soprano's garbage collector company.</h1>
    <p class="lead">If you need help with any type of garbage we are here for you.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Powered by ASP.Net</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Register</h2>
        <p>
            Open account with us.
        </p>
        <p>@Html.ActionLink("Register", "Register", "Account", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Log in  registered user</h2>
        <p>Access your existing account here.</p>
        <p>@Html.ActionLink("Log in", "Login", "Account", null, new { @class = "btn btn-default" })</p>
       
    </div>
    <div class="col-md-4">
        <h2>Admin Log In</h2>
        <p>If you are not Tony do not even bother.</p>
        <p>@Html.ActionLink("Admin log in", "Login", "Account", null, new { @class = "btn btn-default" })</p>
       
    </div>
</div>


You are using @Request.Browser.Browser, and it is more then Ok. Email us if you have any questions at support@hotmail.com. Or send us a tweet @@garbagecollectorsupport.



